/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap'); */


/* common styles */
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #F3F1FF;
    margin: 0px;
    padding: 0px;
}
/* <!---------------
    nav start
-----------------> */

.navigation-bar{
    width: auto;
    height: 71px;
    background-color:#562EFF;
}
.navigation{
    display: flex;
    justify-content: space-evenly;
}
.nav-items{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    align-items: center;
}
.nav-logo img{
    width: 40px;
    height: 51px;
}
.logo-title h1{
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    margin-left: 10px;
}
.nav-option a{
    text-decoration: none;
    font-size: 15px;
    padding-right: 10px;
    color: #FFFFFF;
}
.nav-profile img{
    width: 45px;
    height: 45px;
}
/*-----------
 main style
 ------------- */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 870px;
    height: 650px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin-top: 24px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-bottom: 27px;
}
/* style top players */
.top-players{
    margin-bottom: 30px;
}
.section-title{
font-weight: 500;
font-size: 24px;
color:#562EFF;
margin-top: 3px;

}
.players{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
}
.player{
    display: flex;
    align-items: center;
}
.player img {
width: 56px;
height: 56px;
}
.player-name{
   margin-left: 15px; 
   font-size: 18px;
   font-weight: 500;
}
/*----------------
 top blog styles
---------------- */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,  1fr);
    grid-row-gap: 30px;
}
.blog{
    display: flex;
}
.thumbnail img{
    Width:224px;
    Height:127px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
    font-weight: 500;

}
.blog-author{
    color:#9F9F9F;
    font-size: 16px;

}
.blog-author a{
     text-decoration: none;
     font-size: 16px;
     color:#562EFF;
}
/*-------------------
 lates courses styles
 --------------------- */

 
 .container.lates-course{
     height: auto;
 }
 .courses{
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     grid-column-gap: 24px;
 }
.course{
    width: 266.42px;
    height: 330.79px;
    border-radius: 20px;
    box-shadow:10px 10px 5px #dfd7d754;
}
.course-title{
    font-size: 20px;
    font-weight: 500;
}
.course-author a{
    text-decoration: none;
    color:#ED6B4F;
}


 .course-info{
  display: flex;
  justify-content: space-between;   
 }
 .course .course-banner img{
     width: 266px;
     height: 141px;
 }
 .fa-star{
     font-size: 12px;
 }
 .fa-star.filled{
     color: #FFC014;

 }
 .fa-star.empty{
     color:#AEAEAE ;
 }
 .course-time{
     background-color:#FFE4E8;
     color:#FF4A60;
     padding: 5px;
     border-radius: 50px;
     margin-right: 10px;

 }
 /*------------
   media query
 ----------- */
 /*----------------
  mobile devices
 ----------------- */
 @media only screen and (max-width :688px) {
  .navigation{
      background-color: tomato;
      justify-content: space-between;
      padding: 0px 10px;
      width: auto;
  }  
  .nav-option a{
      padding-right: 5px;
  }
  .container{
      width: 100%;
      height: auto;
  }
  .section-title{
    margin-left: 10%;
  }

  .players{
    grid-template-columns: repeat(2,1fr);
  }
  .player{
      flex-direction: column;
  }
  .blogs, .courses{
      grid-template-columns: repeat(1,1fr);
  }
  .blog{
      flex-direction: column;
      /* align-items: center; */
      margin-left: 10%;
  }
  .courses{
      grid-row-gap: 30px;
      margin-left: 14%;
  }

 }

 /*----------------- 
 tablet devices
 ------------------ */

@media only screen and (min-width::688px)
and(max-width:992px) {

    
}